@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Wedu</h1>
    <p class="lead"> Wedu is a web education platform dedicated to open sourcing the education of the world. The entire platform will be free forever. Users around the world can create an account and start learning.</p>
    <h4>How is content regulated?</h4>
    <p class="lead">Being an open source platform means that YOU the user regulate the content on the site with you votes. The whole website runs on a reputation system, Users who continuinly produce quality lectures and classes will be rewarded by other users votes.</p>
</div>
